.notice-detail-header{
    position: fixed;
    width: 850px;
    height: 100px;
    left: 300px;
    top: 149px;
    background: white;
    z-index: 9;
}
.notice-detail-title{
    position: fixed;
    background: #ECECEC;
    border-radius: 10px;
    z-index: 100;
    width: 943px;
    height: 50px;
    left: 181px;
    top: 141px;
}
.notice-detail-title span:first-child{
    left: 16px;
    top: 12px;
    position: relative;
    font-weight: bold;
}
.notice-detail-title span:last-child{
    font-size: 12px;
    padding-left: 10px;
    left: 20px;
    position: relative;
    top: 10px;
}
.notice-detail-content{
    position: absolute;
    left: 135px;
    min-height: 500px;
    top: 100px;
}

.notice-detail-edit{
    position: absolute;
    width: 71px;
    left: 730px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 10px;
}

.notice-detail-delete{
    position: absolute;
    width: 71px;
    left: 650px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 10px;
}