#profile{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#profile img{
    width: 200px;
}
#my_lab{
    position: absolute;
    width: 1000px;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
}
h2 {
    width: 100%;
    color: black;
    text-align: left;
    box-shadow: 0 4px 4px -4px rgb(85, 85, 85);

}
h2 span{
    margin-left: 10px;
    margin-bottom: 10px;
    display:inline-block;

}
#lab_list{
    list-style: none;    
}

#lab_list li{
    list-style: none;    
    display: inline-block;
}
.dashboard_link{
    text-decoration: none;
    color: black;
}
.dashboard_card{
    margin: 20px;    
    box-shadow: 1px 1px 10px 1px rgb(196, 196, 196);
}
.lab_img{
    width: 250px;
    height: 150px;
    margin: 0px;
}
.lab_name{
    font-weight: bolder;
    font-size: 17pt;
    padding: 0 0 0 20px;
    margin-bottom: 10px;
}

.prof{
    font-weight: 600;
    color: rgb(99, 99, 99);
    margin-top: 0;
    padding: 0 0 30px 20px;
}