#content{
    height: 2000px;
}
#lab-bar{
    width: 200px;
    box-shadow: none;
    padding-left: 80px;
    padding-right: 20px;

}

#lab-ul{
    width: 200px;
}

.tab{
    background-color:white !important;
}

.tab:hover, 
.tab:active{
    background-color:rgb(196, 196, 196) !important;
    color: black !important;
}

.tab-link{
    color: black !important;
    
}
#btn {
    background-color: rgba( 255, 255, 255, 0 );
    border: none;
}
#frame{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 800px;
    height: 800px;
}