.toastui-editor-defaultUI{
    position: absolute;
    width: 800px;
    height: 500px;
    left: 396px;
    top: 242px;
}

.toastui-editor-contents{
    position: absolute;
    width: 800px;
    height: 500px;
    left: 396px;
    top: 242px;
}

.md-save{
    position: absolute;
width: 122px;
height: 57px;
left: 1074px;
top: 758px;
}

.md-edit{
    position: absolute;
    width: 80px;
    height: 42px;
    left: 1116px;
    top: 200px;
}