<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mypage.css">
    <title>마이페이지</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>
                <span>DK.Lab</span>
            </h1>
        </div>
        <div id="container" style="height: 647px;">
            <div id="profile">
                <img src="https://static.nid.naver.com/images/web/user/default.png?type=s160"/>
                <p>User name</p>
            </div>
            <div id="my_lab">
                <h2>내 연구실</h2>
                <ul id="lab_list">
                    <li>
                    <!-- 연구실 여러 개일 땐 js로 구현-->
                        <a href="https://www.google.com/" class="dashboard_link">
                            <div class="dashboard_card">
                                <img src="https://lh3.googleusercontent.com/proxy/QECxALaMwW5r1ac74HyGHZ0XMyKx74N8Wxn-CsZIBAwR1cr7jYPYr8DH9l9RBPQ0JS1hwj2fPeQ73RogbyRl6wJ2hdNHl2_lqSBEmxVxciWriMmEVpKA81r21XJ_kstw_oJFAq5ExUjRHdkXH-11UUpAOcZF" class="lab_img"/>
                                <p>OO 연구실</p>
                                <p>OOO 교수</p>
                            </div>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</body>
</html>