

.answer-box{
    position: relative;
    width: 900px;
    min-height: 90px;
    background: #FFFFFF;
    border-radius: 10px;

    margin-top: 10px;

}

.answer-box-name{
    font-weight: bold;
    margin:10px;
}
.answer-box-content{
    padding: 10px;
}
