.notice-detail-header{
    position: fixed;
    width: 850px;
    height: 100px;
    left: 300px;
    top: 149px;
    background: white;
    z-index: 9;
}
.notice-detail-title{
    position: fixed;
    width: 850px;
    height: 50px;
    left: 300px;
    top: 190px;
    background: #ECECEC;
    border-radius: 10px;
    z-index: 100;
    padding: 13px;
}

.notice-detail-content{
    position: absolute;
    width: 800px;
    height: auto;
    left: 325px !important;
    top: 261px !important;
}

.notice-detail-edit{
    position: absolute;
    width: 71px;
    left: 730px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 10px;
}

.notice-detail-delete{
    position: absolute;
    width: 71px;
    left: 650px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 10px;
}