#report-body {

  position: absolute;
  left: -5px;
  top: 39px;
  width: 900px;
  height: 430px;
  background: #ffffff;
  box-shadow: 0px 3px 4px 2px rgb(0 0 0 / 25%);
  border-radius: 10px;
}

#report-title {
  position: absolute;
  width: 46.65px;
  height: 33.49px;
  left: 30px;
  top: 20px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

#report-title-input{    
  position: absolute;
  width: 756px;
  height: 44px;
  left: 105px;
  top: 12px;
  font-family: NanumGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  border-bottom: solid 1px;

}
#report-title-input:focus{
  outline:none
}

#report {
  position: absolute;
  width: 105px;
  height: 34px;
  left: 30px;
  top: 100px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

#reportInput {
  position: absolute;
  width: 715.01px;
  height: 88.62px;
  left: 145px;
  top: 90px;

  background: #f2f2f2;
  border-radius: 10px;
  border:none;
  resize: none;
}

#discussion {
  position: absolute;
  width: 154px;
  height: 36px;
  left: 30px;
  top: 240px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  color: #000000;
}

#discussionInput {
  position: absolute;
  width: 715.01px;
  height: 89.48px;
  left: 145px;
  top: 240px;

  background: #f2f2f2;
  border-radius: 10px;
  border:none;

  resize: none;
}

#reportInput:focus, 
#discussionInput:focus{
  outline: none;
}
#submit-Button {
  position: absolute;
  width: 80px;
  height: 40px;
  left: 780px;
  top: 375px;

  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 10px;
}

.report-file{
  position: absolute;
  left: 145px;
  top: 186px;
}
.discussion-file{
  position: absolute;
  left: 145px;
  top: 340px;
}