.report-container{    
  position: absolute;
  top: 75px;
  left: 98px;
}


#projectName {
  position: absolute;
  width: 927px;
  height: 46px;
  left: 15px;
  top: 20px;

  background: #ececec;
  border-radius: 10px;
}

#project-name-text {
  position: absolute;
  width: 352.77px;
  height: 41.49px;
  left: 20px;
  top: 10px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  color: #000000;
}

#project-detail {
  position: fixed;
    top: 205px;
    font-family: NanumGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #606060;
}
