.openlab-container{
    position: absolute;
    width: 910px;
    height: 1151px;
    left: 155px;
    background: #FFFFFF;
    margin-top: 75px;
    z-index: -2;
}

.openlab-card-container{
    position: relative;
    width: 750px;
    left: 50%;
    top: 320px;
    transform: translateX(-50%);
}