.openlab-Info {
  position: relative;
  width: 900px;
  top: 350px;
  background: #fafafa;
  border-radius: 10px;
}
.openlab-Info-title {
  position: relative;
  width: 130px;
  height: 35px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;

  color: #5a5a5a;
}
.openlab-Info-content {
  position: relative;
  width: 966px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #5a5a5a;
}
hr {
  color: black;
}
