.recruitment-Info {
  position: relative;
  width: 900px;
  top: 330px;
  background: #fafafa;
  border-radius: 10px;
}
.recruitment-Info-title {
  position: relative;
  width: 130px;
  height: 35px;

  font-family: NanumGothic;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  color: #5a5a5a;
}
.recruitment-Info-content {
  position: relative;
  width: 966px;
  font-family: NanumGothic;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #5a5a5a;
}
hr {
  color: black;
}

.apply-btn{
  width: 210px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  border: none;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}