.reply {
  position: relative;
  top: 10px;
}
.reply-name {
  font-size: 16px;
  font-weight: 500;
}
.reply-content {
  position: relative;
  font-size: 15px;
  line-height: 25px;
}
.reply-date {
  font-size: 13px;
}
